*{box-sizing: border-box;}

body {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
.page-header {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  background: linear-gradient(to top,#8fffff,rgb(212 185 255));
  height: 50px;
  width: 100%;
  min-width: 186px;
} 
.page-header__caption {
  font-size: 20px;
  position: relative;
  margin: 0;
  top: 5px;
} 
.page-main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 90px);
} 
.page-main__sidebar{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: azure;
  height: calc(100vh - 90px);
  width: 30%;
  min-width: 105px;
} 
.page-main-sidebar__caption{
  position: sticky;
  top: 0;
  background: linear-gradient(to right,#8fffff,azure);
  padding-left: calc(4% + 3px);
  margin-top: 0;
  margin-bottom: 0;
  z-index: 5;
} 
.page-main-sidebar__content{
  text-decoration: none;
  width: 18px;
  margin-left: 4%;
  padding-left: 3px;
  top: 0px;
  z-index: 1;
} 
.page-main__workspace {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: azure;
  height: calc(100vh - 90px);
  width: 70%;
  min-width: 160px;
}
.page-main-workspace__caption{
  font-weight: 600;
  position: sticky;
  background: linear-gradient(to right,#8fffff,azure);
  padding-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  top: 0px;
  height: 18px;
  z-index: 5;
} 
.page-main-workspace__content-list{
  margin-top: 0px;
  margin-bottom: 0px;  
  padding-left: 30px;
}  
.page-main-workspace__content-item{
  text-decoration: none;
  padding-left: 10px;
  top: 0px;
  height: 18px;
  z-index: 1;
}  
.page-footer {
    position: relative;
    background: linear-gradient(to top,gray,azure );
    height: 40px;
    width: 100%;
    min-width: 186px;
  } 
 .page-footer__workspace{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  text-align: center; 
}
.page-footer-workspace__cell{
  padding-top: 10px;
  width: 33.33%;  
}
.page-footer-workspace__cell_first{
    min-width: 90px;
  }
.page-footer-workspace__cell_second{
    min-width: 80px;
  }
.page-footer-workspace__cell_third{
    min-width: 90px;
  }
  .page-footer__urls { 
  font-weight: 700;
  text-decoration: none;
  font-family: sans-serif;
} 
.page-footer__urls_inner { 
  text-shadow: 4px 4px 4px #BAE498 ;
  color: darkgreen;
} 
.page-footer__urls_outer { 
  text-shadow: 4px 4px 4px #fac4c4 ;
  color: maroon;
} 
