/* 
320-768
769-1440->
*/

:root  {
  --clwhite:#FFFFFF;
  --clblack:#000000;
  --cllightgray:#CCCCCC;
  --cldarkgray:#787878;
  --clformcian:#1B2473;
  --clbuttoncian:#1A226B;
  --ratio1440:calc(100vw / 1440);
}
*{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  color: var(--cldarkgray);
  box-sizing: border-box;
}
*::placeholder{
  color: var(--cllightgray);
}
body  {
  margin: 0;
  padding: 0;
  background: var(--clformcian);
}
  .main  {
    margin: min(calc(var(--ratio1440) / 2 * 82),82px) min(calc(var(--ratio1440) / 2 * 428),428px) min(calc(var(--ratio1440) / 2 * 243),243px) min(calc(var(--ratio1440) / 2 * 412),412px);
    
  }
  .main__form  {
    padding: calc(var(--ratio1440) * 26) calc(var(--ratio1440) * 45);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px calc(var(--ratio1440) * 40) calc(var(--ratio1440) * 10) rgba(0, 0, 0, 0.25);
    border-radius: calc(var(--ratio1440) * 20);
    background-color: var(--clwhite);
    z-index: 10;
  }
  .main-form__caption  {
    align-self: center;
    margin-bottom: calc(var(--ratio1440) * 4);
    width: calc(var(--ratio1440) * 116);
    height: calc(var(--ratio1440) * 50);
    font-size: calc(var(--ratio1440) * 50);
    line-height: calc(var(--ratio1440) * 50);  
  }
  .main-form__label  {
    margin-left: calc(var(--ratio1440) * 8);
    margin-top: calc(var(--ratio1440) * 13);
    margin-bottom: calc(var(--ratio1440) * 3);
    height: calc(var(--ratio1440) * 16);
    font-size: calc(var(--ratio1440) * 16);
    line-height: calc(var(--ratio1440) * 16);
  }  
  .main-form__input  {
    align-self: stretch;
    height: calc(var(--ratio1440) * 49);
    padding-top: calc(var(--ratio1440) * 6);
    padding-bottom: calc(var(--ratio1440) * 7);
    padding-left: calc(var(--ratio1440) * 15);
    background: var(--clwhite);
    border: 1px solid #787878;
    border-radius: calc(var(--ratio1440) * 10);
    font-size: calc(var(--ratio1440) * 28);
    line-height: calc(var(--ratio1440) * 36);
    outline-color: var(--clblack);    
    
  }  
  .main-form__checkbox  {
    position: relative;
    display: block;
    margin-top: calc(var(--ratio1440) * 16);
    width: calc(var(--ratio1440) * 312);
    height: calc(var(--ratio1440) * 24);
  } 
  .main-form__checkbox input  {
    position: absolute;
    width: calc(var(--ratio1440) * 312);
    height: calc(var(--ratio1440) * 24);
    margin: 0;
    opacity: 0;
    z-index: 20;
  }
  .main-form__checkbox label::before  {
    content: "";
    position: absolute;
    left: 0;
    box-sizing: border-box;
    border: 1px solid var(--cldarkgray);
    border-radius:25%;
    height:calc(var(--ratio1440) * 24); 
    width: calc(var(--ratio1440) * 24);
  }
  .main-form__checkbox label  {
    position: absolute;
    box-sizing: border-box;
    height: calc(var(--ratio1440) * 24);
    font-weight: 400;
    padding-top: calc(var(--ratio1440) * 4);
    padding-bottom: calc(var(--ratio1440) * 4);
    padding-left: calc(var(--ratio1440) * 30);
    font-size: calc(var(--ratio1440) * 14);
    line-height: calc(var(--ratio1440) * 16);
  }
  .main-form__checkbox input:checked + label::before  {
    background-image: url(../icons/yes.png);
    background-size: 100% 100%;
  }
  .main-form__button  {
    align-self: center;
    margin-top: calc(var(--ratio1440) * 52);
    margin-bottom: calc(var(--ratio1440) * 52);
    width: calc(var(--ratio1440) * 180);
    height: calc(var(--ratio1440) * 52);
    line-height: calc(var(--ratio1440) * 16);
    font-size: calc(var(--ratio1440) * 24);
    background: #1A226B;
    border: none;
    color: var(--clwhite);
    border-radius: calc(var(--ratio1440) * 10);

  } 
