a { text-decoration: none;
    text-shadow: 4px 4px 4px lightgrey ;
    color: darkgreen;
    font-family: sans-serif;
} 
a.cl-lime {color: lime;}

.hdr {
        background-color: lightgray;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        width: 100%;
        height: 60px;
        text-align:center;
}
.nv {   
        background-color: lightslategray;
        padding-top: 10px;
        margin-bottom: 0;
        width: 100%;
        height: 40px;
        text-align:center;
}    
.btn {
        border-radius: 3px 3px 6px 6px;
        border-color: lime;
        border-style: groove;
        width: 150px;
        height: 20px;
        background: maroon;
        color: aliceblue;
} 
.tbl {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: 15%;
        margin-right: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center ;
        text-align: center;
        row-gap: 50px; 
        column-gap: 50px; 
}
.divmain {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 300px;
        height: 300px;
        background: #9DE1C0;
}
.divpic {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        width: 260px;
        height: 200px;
        background-size: 260px 200px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 25px 25px 0px 0px;
}
.divttl {
        margin-left: 20px;
        margin-top: 5px;
        padding-top: 3px;
        width: 260px;
        height: 60px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        background: #EFBFBF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
        border-radius: 0px 0px 25px 25px;
}